.phone {
    background-size: cover;
    background-position: 50% 90%;
    margin: 0 auto;
//    max-width: 378px;
    height: 300px;
    position: relative;
    width: 100%;
}
//
//.body {
//    left: 50%;
//    margin-left: -7px;
//    position: absolute;
//    transform: translateX(-50%);
//}
//
//.bg {
//    background-color: white;
//    bottom: 10px;
//    height: 80px;
//    left: 0px;
//    position: absolute;
//    width: calc(100%);
//}
//
//.display {
//    bottom: 20px;
//    position: absolute;
//    width: 100%;
//}
//
//#click {
//    cursor: pointer;
//    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//}